# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Documentation
docs/

# Misc
*.log
.DS_Store
Thumbs.db

# Development
tests/
.pre-commit-config.yaml
.ruff.toml
.pyright.json

# Container
Dockerfile
Containerfile
docker-compose*.yml
podman-compose*.yml 